<!doctype html>
<html>
    <title>{% block title %}{% endblock %}</title>

    
    <body>
        <h1>mooddit</h1>
        <h4>a reddit sentiment calculator</h4>
        <form method = "post">
            <input name = "userinput" id = "userinput" type = "text" autofocus placeholder = "">
            <button type = "submit">search</button>
        </form>
        <p>(i.e. /r/place or /u/unidan</p>
        <section>
            <p>
                {% block description %}{% endblock %}
            </p>
        </section>
        
        <section>
            {% block results %}{% endblock %}
        </section>
    </body>
</html>
