{% extends "base.html" %}

{% block title %}
    search
{% endblock %}
{% block title2 %}
    search
{% endblock %}


{% block main %}
<form action = "/search" method = "post">
    <div class="input-group mb-3">
        
        <input style = "margin-top: 15px;"class = "form-control" name = "userinput" id = "userinput" placeholder = "i.e. /r/place, /u/spez" type = "text" autofocus >

    </div>
    
    <button class = "btn btn-outline-dark custom"type = "submit">search</button>
</form>
{% endblock %}

{% block results %} 

    {{msg}}

{% endblock%}